@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  @apply overflow-x-hidden;
  @apply overflow-y-hidden;
  margin: 0;
  padding: 0;
}


@layer utilities {
 .custom-scrollbar::-webkit-scrollbar {
   width: 12px;
 }

 .custom-scrollbar::-webkit-scrollbar-track {
   background: #f1f1f1;
 }

 .custom-scrollbar::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 6px;
   border: 3px solid #f1f1f1;
 }

 .custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #555;
 }
}
